*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/config/detekt/config.yml
/config/detekt/reports
openvpn/build/**
/captures
.externalNativeBuild
openvpn/src/main/cpp/asio/asio/src/doc/
openvpn/.cxx/
pmcrypto/build/
app/src/androidTest/assets/sensitive/
