[extend]
path = "/etc/gitleaks/proton.toml"

[allowlist]
paths = [
    # R8 mapping file, contains function names, line numbers and other symbols that can be picked as false positives.
    '''^app/build/outputs/mapping/(.*)/mapping.txt$''',
    '''^app/build/outputs/mapping/(.*)/seeds.txt$''',
    '''^app/build/outputs/mapping/(.*)/usage.txt$''',
    # Semgrep configuration file
    '''^custom/semgrep/rules.yaml$''',
    # Added by CI job
    '''^appetize-information.json$''',
    # Profile rules are interpreted as secrets
    '''^app/src/productionGooglePlayStoreRelease/generated/baselineProfiles/(.*)''',
]
