Antonio Quartulli <antonio@openvpn.net> <a@unstable.cc>
Arne Schwabe <arne@openvpn.net> <arne@rfc2549.org>
Charlie Vigue <charlie.vigue@openvpn.com> <charlie.vigue@openvpn.net>
Dmitriy Dudnik <dmitro.dudnik@openvpn.net> <dmytro.dudnik@openvpn.net>
Illia Polishchuk <illia.polishchuk@openvpn.com>
Razvan Cojocaru <razvan.cojocaru@openvpn.com> <rzvncj@gmail.com>
Samuli Seppänen <samuli@openvpn.net> <samuli.seppanen@gmail.com>
Yuriy Barnovych <yuriy@openvpn.net>
