<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2012-2016 Arne Schwabe
  ~ Distributed under the GNU GPL v2 with additional terms. For full terms see the file doc/LICENSE.txt
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.blinkt.openpvpn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- <uses-permission android:name="com.android.vending.BILLING" /> -->

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">


        <meta-data android:name="android.content.APP_RESTRICTIONS"
                   android:resource="@xml/app_restrictions" />

        <activity
            android:name="de.blinkt.openpvpn.activities.VPNPreferences"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="de.blinkt.openpvpn.activities.DisconnectVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/blinkt.dialog" />
        <activity
            android:name="de.blinkt.openpvpn.activities.LogWindow"
            android:allowTaskReparenting="true"
            android:label="@string/openvpn_log"
            android:launchMode="singleTask" />
        <activity android:name="de.blinkt.openpvpn.activities.FileSelect" />

        <activity android:name="de.blinkt.openpvpn.api.GrantPermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="de.blinkt.openpvpn.api.ConfirmDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.blinkt.openpvpn.LaunchVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/vpn_launch_title"
            android:taskAffinity=".LaunchVPN"
            android:theme="@style/blinkt.dialog"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>